*{
    margin: 0;
    padding: 0;
    background-color: black;
   
}

.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.banner .product{
    /* background-color: red; */
    width: 100px;
    height: 500px;
    position: absolute;
    bottom: 90px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s ;
    --left : 0px;
    display: flex;
}

.banner .product .soda{
    background: 
    var(--url) var(--left) ,
    url('mockup.png') no-repeat center;
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2/4;

    background-blend-mode: multiply;
    mask-image: url('mockup.png');
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    transform: translateX(-50%);

}

.banner .product:hover {
    --left: -1160px;
    transform: translateX(-50%) translateY(-120px);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
}

.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}
